<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:mvv="http://www.alibaba.com/schema/stat"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  




        http://www.springframework.org/schema/mvc   
    	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd">
    <!--扫描控制层-->
    <context:component-scan base-package="com.fh.shop.api.*.controller"/>
    <context:component-scan base-package="com.fh.shop.api.exception"/>
    <!--注解-->
    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.fh.shop.api.configInfo.MemberArgumentResolver"></bean>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>


    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.fh.shop.api.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.fh.shop.api.interceptor.IdempotInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>




</beans>